*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*e3058c 2558a9 96b3e2*/
html{
    scroll-behavior: smooth;
}

.no-scroll{
    overflow: hidden;
}

header{
    position: relative;
    height: 100vh;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: height 450ms ease-in;
    background-color: #faa3a3;
    background-image: url("./assets/desktop-img-bg.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.logo-container{
    margin: 40px 0 20px 0;
    width: 350px;
    justify-self: flex-start;
}

.logo-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header .title{
    position: absolute;
    top: 40%;
    left: calc(100% - 80%);
}

header h1{
    font-size: 3.8rem;
}

header h2{
    font-size: 2rem;
}

header h3{
    margin: 40px 0 0 0;
    font-size: 2rem;
}

header .book-btn{
    display: inline-block;
    margin: 20px 0;
    padding: 10px 42px;
    font-size: 2rem;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
    transform: scale(2);
    animation: scale 1.2s infinite ease-in-out;
}

@media screen and (max-width: 1294px){
    header{
        background-size: 1400px 80%;
        background-position: right bottom;
    }

    header .title{
        top: 40%;
        left: calc(100% - 90%);
    }
}

@media screen and (max-width: 970px){
    header{
        background-size: 1400px 80%;
        background-position: right bottom;
    }

    header .title{
        left: 5%;
        transform: scale(0.8);
    }
}

@media screen and (max-width: 785px){
    header{
        background-image: url("./assets/mobile-img-bg.png");
        background-position: center bottom;
        background-size: contain;
    }

    header .title{
        top: 32%;
        left: 2%;
        transform: scale(0.8);
        text-align: left;
    }

    header h3{
        width: 280px;
    }
}

@media screen and (max-width: 485px){
    header{
        background-image: url("./assets/mobile-img-bg.png");
        background-position: center bottom;
        background-size: contain;
    }

    header .title{
        top: 32%;
        left: 3.2%;
        transform: scale(1);
        text-align: left;
    }

    header h1{
        font-size: 2.8rem;
    }
    
    header h2{
        font-size: 1.5rem;
    }
    
    header h3{
        width: 240px;
        margin: 40px 0 0 0;
        font-size: 1.5rem;
    }

    header .book-btn{
        margin: 20px 0;
        padding: 8px 28px;
        font-size: 1.2rem;
    }
}


@keyframes scale{
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}

section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#book-consult{
    position: relative;
    text-align: center;
    background-image: url("./assets/desktop-blue-bg.png");
}

#book-consult .header-bck-btn{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 42px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

#book-consult .logo-container{
    margin: 100px 0 0 0;
}

.baby-sure-center{
    margin: 100px 0 0 20px;
}

.baby-sure-center h2{
    font-size: 2rem;
}

.ivf-center-container{
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ivf-center-location{
    position: relative;
    cursor: pointer;
    margin: 20px 40px;
}

.ivf-center-location .text{
    display: inline-block;
    padding: 10px 42px;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    user-select: none;
    border-radius: 10px;
    animation: scale 1.2s infinite ease-in-out;
}

.ivf-center-location input:checked ~ .text{
    animation: none;
}

.ivf-center-location input{
    position: absolute;
    opacity: 0;
}

.ivf-center-location .active-location{
    width: 100%;
    height: 100%;
    padding: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    border: 5px solid transparent;
    border-radius: 10px;
    transition: all 250ms ease-in-out;
}

.ivf-center-location input:checked ~ .active-location{
    border: 5px solid #000;
}

@media screen and (max-width: 458px){
    #book-consult{
        background-image: url("./assets/mobile-blue-bg.png");
    }
}

#contact-section{
    position: relative;
    overflow: auto;
    background-image: url("./assets/desktop-bg.png");
}

#contact-section .logo-container{
    margin: 20px 0 0 0;
    height: 150px;
    min-height: 150px;
    position: relative;
}

#contact-section .logo-container img{
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -40%)
}

#contact-section h1{
    margin: 80px 0 10px 0;
    font-size: 2rem;
}

#contact-section .book-btn{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 42px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    z-index: 10;
}

#contact-form{
    margin: 0 0 50px 0;
    padding: 32px 50px;
    max-width: 480px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    border-radius: 10px;
}

#contact-form label{
    margin: 20px 0 10px 0;
    font-size: 1.5rem;
}

#contact-form input{
    margin: 0 0 10px 0;
    padding: 0 10px;
    min-width: 320px;
    font-size: 1.5rem;
    height: 48px;
    background: transparent;
    border-radius: 4px;
}

#contact-form button{
    margin: 40px 0;
    padding: 10px 32px;
    font-size: 1.6rem;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    text-decoration: none;
    animation: scale 1s infinite ease-in-out;
}

@media screen and (max-width: 472px){
    #book-consult .logo-container,
    #contact-section .logo-container{
        width: 280px;
    }

    #book-consult,
    #contact-section{
        overflow: auto;
    }

    #book-consult .logo-container,
    .baby-sure-center{
        margin: 50px 0 0 0;
    }

    #contact-form{
        width: 85%;
        margin: 20px 0;
        padding: 20px 18px;
    }

    #book-consult .header-bck-btn,
    #contact-section .book-btn{
        top: 5px;
        left: 5px;
    }
    
    #contact-section h1{
        margin: 28px 0 0 0;
        font-size: 1.5rem;
    }

    #contact-form label{
        margin: 18px 0 10px 0;
        font-size: 1.2rem;
    }

    #contact-form input{
        width: 100%;
        min-width: 85%;
        height: 40px;
    }

    #contact-form button{
        margin: 20px 0;
        width: 280px;
        align-self: center;
    }

    #book-consult .header-bck-btn,
    #contact-section .book-btn{
        padding: 5px 32px;
        font-size: 1.2rem;
    }
    
}

@media screen and (max-width: 458px){
    #contact-section{
        background-image: url("./assets/mobile-bg.png");
    }
}