*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*e3058c 2558a9 96b3e2*/
html{
    scroll-behavior: smooth;
}

.no-scroll{
    overflow: hidden;
}

header{
    height: 100vh;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: height 450ms ease-in;
    background-image: url("./assets/desktop-blue-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-container{
    margin: 40px 0 0 0;
    width: 320px;
    justify-self: flex-start;
}

.logo-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header h1{
    font-size: 2.8rem;
}

header h2{
    font-size: 1.5rem;
}

header h3{
    margin: 40px 0 0 0;
    font-size: 1.5rem;
}

@media screen and (max-width: 458px){
    section{
        background-image: url("./assets/mobile-blue-bg.png");
    }

    header h3{
        width: 280px;
    }
}

header .book-btn{
    display: inline-block;
    margin: 20px 0;
    padding: 5px 32px;
    font-size: 20px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
    transform: scale(2);
    animation: scale 1.2s infinite ease-in-out;
}

@keyframes scale{
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}

section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./assets/desktop-bg.png");
}

@media screen and (max-width: 458px){
    section{
        background-image: url("./assets/mobile-bg.png");
    }
}

#book-consult{
    position: relative;
    text-align: center;
}

#book-consult .header-bck-btn{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px 20px;
    font-size: 15px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

#book-consult .logo-container{
    margin: 100px 0 0 0;
}

.baby-sure-center{
    margin: 100px 0 0 20px;
}

.ivf-center-container{
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ivf-center-location{
    position: relative;
    cursor: pointer;
    margin: 20px 40px;
}

.ivf-center-location .text{
    display: inline-block;
    padding: 10px 32px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    user-select: none;
    border-radius: 10px;
    animation: scale 1.2s infinite ease-in-out;
}

.ivf-center-location input:checked ~ .text{
    animation: none;
}

.ivf-center-location input{
    position: absolute;
    opacity: 0;
}

.ivf-center-location .active-location{
    width: 100%;
    height: 100%;
    padding: 25px 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    border: 5px solid transparent;
    border-radius: 10px;
    transition: all 250ms ease-in-out;
}

.ivf-center-location input:checked ~ .active-location{
    border: 5px solid #000;
}

#contact-section{
    position: relative;
}

#contact-section .logo-container{
    margin: 20px 0 0 0;
    height: 150px;
    min-height: 150px;
    position: relative;
}

#contact-section .logo-container img{
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -40%)
}

#contact-section h1{
    margin: 10px 0 40px 0;
}

#contact-section .book-btn{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px 20px;
    font-size: 15px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    z-index: 10;
}

#contact-form{
    margin: 0 0 50px 0;
    padding: 40px 80px;
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    border-radius: 10px;
}

#contact-form label{
    margin: 20px 0 10px 0;
    font-size: 20px;
}

#contact-form input{
    margin: 0 20px 0 0;
    padding: 0 10px;
    min-width:285px;
    height: 40px;
    background: transparent;
    border-radius: 4px;
}

#contact-form button{
    margin: 40px 0;
    padding: 5px 32px;
    font-size: 20px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width: 472px){
    #book-consult,
    #contact-section{
        overflow: auto;
    }

    #book-consult .logo-container,
    .baby-sure-center{
        margin: 50px 0 0 0;
    }

    #contact-form{
        width: 320px;
        margin: 20px 0;
        padding: 20px;
    }

    #book-consult .header-bck-btn,
    #contact-section .book-btn{
        top: 5px;
        left: 5px;
    }
    
    #contact-section h1{
        margin: 10px 0 10px 0;
    }

    #contact-form button{
        margin: 40px 0 20px 0;
    }
    
}